.card {
    box-shadow: 2px 3px 3px 3px rgba(68, 68, 68, 0.55);
    position:relative;
    width: clamp(260px, 25vw, 340px);
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: 10px;
  }

  .cardNames {
    font-size: 1.25rem;
    font-family: fantasy;
    margin-bottom: 10px;
  }

  .cardData p {
    padding: 0 20px;
    text-align: left;
  }

  .cardAbility {
    font-size: 14px;
  }

  .cardInfo {
    margin: 12px 0 20px;
  }

  img{
    width:50%;
    padding: 12px;
  }



@media screen and (max-width: 900px) {

  .card {
    width: clamp(200px, 40vw, 340px);
  }
}

@media screen and (max-width: 500px) {

  .card {
    width: 80%;
  }
}


